<div class="headerContainer">
    <img src="assets/Smartphone_no_text.png" class="smartphoneImg">
    <div class="headerTextContainer">
        <h1 class="header">Modern Web Developement with Angular</h1>
        <p class="subHeader">By Patrick Fritzl</p>
    </div>
</div>



<div class="sectionContainer">
    <section class="section1">
        <p-panel header="Kurzzusammenfassung" [toggleable]="true">
            <p>
                Ein Kurs zum Einstieg in das moderne Entwickeln mit Angular, HTML, CSS und JavaScript/Typescript
            </p>
        </p-panel>
    </section>

    <section class="section2">
        <p-panel header="Mobile First" [toggleable]="true">
            <p>
                Die Website wird in Hinsicht zu Mobilen Geräten erstellt, sowie auch für Tablets und Desktop
            </p>
        </p-panel>
    </section>

    <section class="section3">
        <p-panel header="Clean UI" [toggleable]="true">
            <p>
                Mittels PrimeNG in Kombination mit selbstgeschriebenem CSS und HTML werden moderne User-Interface
                Elemente
                erstellt.
            </p>
        </p-panel>
    </section>

    <section class="section4">
        <p-panel header="Interactivity" [toggleable]="true">
            <p>
                Durch Databinding und Typescript werden ganz leicht Variablen eingelesen bzw. ausgegeben im Browser
            </p>
        </p-panel>
    </section>

    <section class="section5">
        <p-panel header="Zeit" [toggleable]="true">
            <p>
                Mindestens 4 Einheiten zu je 2h. Je nach Nachfrage mehr möglich
                
            </p>
            <p style="visibility: hidden;">a</p>
        </p-panel>
    </section>

    <section class="section6">
        <p-panel header="Benötigte Kenntnisse" [toggleable]="true">
            <p>Grundlegende Programmierkenntnisse (egal welche Sprache)</p>
            <p>Grundlegendes HTML & CSS Verständnis</p>
        </p-panel>
    </section>

    <section class="section7">
        <p-panel header="Ziel (Wird weiter ausgebaut, falls nachfrage am Kurs besteht)" [toggleable]="true">
            <p>
                https://modernwebdevwithangular.web.app/
            </p>
        </p-panel>
    </section>
</div>
<div class="designedByFreepik">
    <br>
    <br>
    <p style="margin-bottom: 0;">Smartphone image:</p>
    <a href="http://www.freepik.com">Designed by Freepik</a>    
</div>
